#!/usr/bin/env nextflow

manifest {

	name = 'Avipoxvirus'
	author = 'Michael G. Campana and Madeline W. Eibner-Gebhardt'
	homePage = 'https://github.com/campanam/Avipoxvirus'
	description = 'Pipeline to identify avipoxivirus sequences'
	mainScript = 'avipox.nf'
	version = '0.1.0'
	nextflowVersion = '>=22.04.4'

}


params {

	inputCsv = 'test.csv'
	blastdb = '/Volumes/Campana/Labwork/Avipoxvirus/avipox.fasta'
	readsdir = "$launchDir/"
	outdir = "Avipox_Results"
	
}